{% load dict_key_extras %}
{% load i18n %}

<table class="table table-bordered table-striped table-hover">
    <thead>
        <th>Title</th>
        <th>Records</th>
        <th>Owner</th>
        <th>Can read</th>
        <th>Can write</th>
        <th>Public</th>
        <th>Actions</th>
    </thead>
    <tbody>
        {% for object in objects %}
            {% if come_from_admin %}
                {% url 'core-admin:core_dashboard_workspace_list' object.workspace.id as view_content_url %}
            {% else %}
                {% url 'core_dashboard_workspace_list' object.workspace.id as view_content_url %}
            {% endif %}
            <tr objectid="{{object.workspace.id}}" class="workspace-row" data-href="{{ view_content_url }}">
                <td>{{ object.name }}</td>
                <td>{{ object.records_count }}</td>
                <td>{{ object.user }}</td>
                <td>{{ object.can_read }}</td>
                <td>{{ object.can_write }}</td>
                <td>{{ object.is_public }} </td>
                <td class="workspace-actions">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownActions-{{object.workspace.id}}" {% if BOOTSTRAP_VERSION|first == "4" %}data-toggle{% elif BOOTSTRAP_VERSION|first == "5" %}data-bs-toggle{% endif %}="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-sliders"></i>
                    </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownActions-{{object.workspace.id}}">
                        <a class="dropdown-item view-data-{{data.document}}-btn"
                           objectid="{{ object.workspace.id }}"
                           href="{{ view_content_url }}">
                            <i class="fas fa-list"></i> View Content
                        </a>

                        {% if object.is_owner %}
                            <div class="dropdown-divider"></div>
                            {% if come_from_admin %}
                                <a class="dropdown-item rights-document-btn"
                                    href="{% url 'core-admin:core_main_edit_rights_workspace' object.workspace.id %}">
                                    <i class="fas fa-edit"></i> Manage Access
                                </a>
                            {% else %}
                                <a class="dropdown-item rights-document-btn"
                                    href="{% url 'core_main_edit_rights_workspace' object.workspace.id %}">
                                    <i class="fas fa-edit"></i> Manage Access
                                </a>
                            {% endif %}
                            {% if not object.is_global %}
                                {% if object.is_public %}
                                    <a class="dropdown-item private-{{data.document}}-btn">
                                        <i class="fas fa-user"></i> Set private
                                    </a>
                                {% elif data.can_set_public %}
                                    <a class="dropdown-item public-{{data.document}}-btn">
                                        <i class="fas fa-users"></i> Set public
                                    </a>
                                {% endif %}
                            {% endif %}
                            {% if not object.is_public %}
                                <div class="dropdown-divider"></div>
                                <button class="dropdown-item delete-document-btn">
                                    <i class="fas fa-trash"></i> Delete
                                </button>
                            {% endif %}
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td class="empty" style="text-align: center;" colspan="100%">
                     No {{document}} found.
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>